[submodule "vendor/distel"]
	path = vendor/distel
	url = git://github.com/bmizerany/distel.git
[submodule "vendor/textmate.el"]
	path = vendor/textmate.el
	url = git://github.com/defunkt/textmate.el.git
